*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header Part */
header{
    background-color:#FFFFFF;
    padding-top: 0px;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
nav{
    border: 1px solid red;
    width: 80%;
    max-width: 1360px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 139px;
}
nav .menu{
    font-size: 16px;
    font-weight: 500;
    display: flex;
    list-style: none;
    gap: 32px;
}
nav .btn1{
    background-color: #469165;
    padding: 16px;
    list-style: none;
    height: 44px;
    border-radius: 5px;
    font-weight: 500;
}
/* Banner Part */
#banner{
    max-width: 1600px;
    background: url(./image/banner.png);

    align-items: center;      
  text-align: center;
  background-color: aqua;
}
#banner .banner-content{
    padding: 115px 120px 180px;
}
#banner .banner-content p{
    color: #FFFFFF;
    font-size: 18px;

}
#banner .banner-content h1{
    font-size: 60px;
}
