* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

/* Header Part */
header {
    background-color: #FFFFFF;
    padding-top: 10px;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

nav {
    /* border: 1px solid red; */
    width: 85%;
    max-width: 1360px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 139px;
}

nav .menu {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    list-style: none;
    gap: 32px;
}

nav .menu a {
    text-decoration: none;
    color: #000000;
}

nav .btn1 {
    background-color: #469165;
    padding: 16px;
    list-style: none;
    /* height: 44px; */
    border-radius: 5px;
    font-weight: 500;
    color: #FFFFFF;
}

.btn1:hover {
    background-color: red;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

/* Banner Part */
#banner {
    width: 100%;
    height: 674px;
    padding-top: 100px;
    background: url(./image/banner.png);
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
}

#banner .banner-content {
    padding: 115px 120px 180px;
}

#banner .banner-content p {
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
    padding-top: 16px;

}

#banner .banner-content h1 {
    font-size: 60px;
}

.banner-content .btn2 {
    width: 235px;
    padding: 8px 12px 8px 20px;
    border-radius: 1000px;
    display: inline-flex;
    align-items: center;
    font-size: medium;
    color: #276941;

}


#banner .banner-content .button-container {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

#banner .banner-content .btn2 .btn-icon1 {

    margin-right: 7px;


}

.banner-content .btn3 {
    width: 250px;
    background-color: #469165;
    padding: 16px 46px 16px 16px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    height: 52px;
    justify-content: space-between;
    color: #FFFFFF;
    font-weight: 600;
}

.btn3:hover {
    background-color: red;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.banner-content .btn4 {

    width: 208px;
    background: none;
    padding: 16.5px 16px 16.5px 46px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    height: 52px;
    justify-content: space-between;
    color: #FFFFFF;
    font-weight: 600;
}

.btn4:hover {
    background-color: darkgreen;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.banner-content .btn3 .btn-icon2 {
    margin-left: auto;
}

.banner-content .btn4 .btn-icon3 {
    margin-left: auto;
}

/* fail part */
#fail {
    width: 100%;
    padding: 120px 0;
    display: flex;
    justify-content: center;
    background-color: #ffffffb8;
}

#fail .fail-container {
    width: 85%;
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

#fail .fail-heading {
    text-align: center;
}

#fail .fail-heading h2 {
    font-size: 36px;
    font-weight: 700;
}

#fail .fail-heading p {
    font-size: 16px;
    color: #627382;
    margin-top: 8px;
}

#fail .fail-box {
    display: flex;
    gap: 24px;
}


#fail .fail-card {
    flex: 1;
    background: #ffffff;
    border-radius: 12px;
    padding: 70px 32px;
    text-align: center;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
}

#fail .fail-card img {
    width: 56px;
    height: 56px;

}

#fail .fail-card h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

#fail .fail-card p {
    font-size: 14px;
    color: #627382;
    line-height: 1.6;
}

/* Solution Part */
#solution {
    width: 100%;
    height: 840px;
    margin: 120px;
    background-color: #FFFFFF;
}

#solution .solution-container {
    width: 85%;
    max-width: 1360px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
    margin: 120px;
}

#solution .solution-container .solution-img img {
    width: 600px;
    height: 600px;
}

.solution-container .solution-text {
    width: 700px;
    height: 397px;

}

.solution-container .solution-text h6 {

    color: #469165;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
}

.solution-container .solution-text h2 {
    font-weight: 700;
    font-size: 48px;
    text-align: left;
    padding-top: 16px;

}

.solution-container .solution-text p {
    color: #627382;
    padding-top: 16px;
    font-weight: 400;
}

.solution-container .solution-text .solution-list {
    list-style: none;
    padding-top: 40px;
    font-weight: 400;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.solution-container .solution-text .solution-list img {
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}

/* Ready Section */
#ready {
    width: 100%;
    height: 506px;

}

#ready .ready-container {
    background-color: #F7F6F2;
    margin: 2px 120px 120px 120px;
    height: 384px;
    text-align: center;
    padding-top: 80px;

}

.ready-container .ready-text h2 {
    width: 1280px;
    height: 48px;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: 0%;
    font-size: 60px;

}

.ready-container .ready-text p {

    color: #627382;
    font-weight: 400;
    padding-top: 16px;
}

.ready-container .btn5 {

    width: 200px;
    background-color: #469165;
    padding: 16px 46px 16px 16px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    height: 52px;
    justify-content: space-between;
    color: #FFFFFF;
    font-weight: 600;
    margin-top: 24px;
    border-radius: 5px;
}

.btn5:hover {
    background-color: rgba(255, 38, 0, 0.677);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.ready-container h6 {

    color: #627382;
    width: 1280px;
    height: 20px;
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 80px;
}

/* Footer part */
#footer {
    width: 100%;
    background: linear-gradient(180deg, #031f2c, #021621);
    padding: 70px 0 40px;
    color: #ffffff;
}

.footer-container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-logo img {
    width: 110px;
}

.footer-social {
    text-align: right;
}

.footer-social h4 {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
    opacity: 0.9;
}

.social-icons {
    display: flex;
    gap: 14px;
    justify-content: flex-end;
}

.social-icons a img {
    width: 18px;
    height: 18px;
    opacity: 0.85;
    transition: 0.3s ease;
}


.footer-bottom {
    margin-top: 50px;
    text-align: center;
}

.footer-bottom hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    margin-bottom: 20px;
}

.footer-bottom p {
    font-size: 13px;
    opacity: 0.7;
    
}